.background-body-container{
  background-color: #EFEEEE;
}

.bg-zaboo-custom{
    background: linear-gradient(15deg,#e96743,#D16647 );
    opacity: 1;
}

.bg-zaboo-custom1{
    background: linear-gradient(15deg,#D16647,#e96743 );
    opacity: 1;
}
small{
 
  font-family: 'Spartan', sans-serif;
}

#clientes-activos{
  font-size: 90px;
  font-family: 'Spartan', sans-serif;
  color:#CE571B;
}

.item_product{
  cursor: pointer;
}

.table{
  font-family: 'Spartan', sans-serif;
font-size: smaller;
}

.BebidasTablaMenu{
  background-color: rgb(252, 230, 228);
}
.EntradasTablaMenu{
  background-color: rgb(214, 252, 252);
}

.FuerteTablaMenu{
  background-color: rgb(240, 217, 234);
}

.PrincipioTablaMenu{
  background-color: rgb(251, 255, 219);
}

.hour{
  background-color: rgb(250, 211, 207);
}

.id-modificar{
  display:none;
} 

.id-precio{
  display:none;
}

.id-pedido{
  display:none;
}

.logo{
    opacity: 1;
}

.icon-store{
  font-size: 65px;
 color: #cccccc;
 
}

.avatar {
    background: rgba(0, 0, 0, 0.01);
    padding: 2em 0.5em;
    text-align: center;
  }

.avatar img {
    width: 150px;
    
    overflow: hidden; 
}

.small-link{
  font-size: 9px;;
}

.h4{
    color: white !important;
}

.navbar{
    z-index: 1;
}
body {
    overflow-x: hidden;
 
  }

.list-group-item:hover{
    font-size: large;
    opacity: 0.5;
}

.info-card{
  padding-right: 5px;
  padding-top: 5px;
}

.card-image{
  margin: auto !important;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}

.division-style{
  background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }


  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  #tituloMenuDia{
    font-family: 'Yellowtail', cursive;
  }

  #tituloAlmuerzos{

    font-family: 'Spartan', sans-serif;
    font-weight: bolder;
    font-size: 2em;
  }

  #titulocategoria{


      font-family: 'Spartan', sans-serif;
      font-weight: 900;
      font-size: 0.7em;

  }
  #platoMenu{
    font-family: 'Spartan', sans-serif;
    font-size: 0.6em;
  }

  @media (max-width: 550px) {
    #tituloMenuDia{
      font-family: 'Yellowtail', cursive;
      font-size: 0.8rem;
    }
  
    #tituloAlmuerzos{
  
      font-family: 'Spartan', sans-serif;
      font-weight: bolder;
      font-size: 1rem;
    }

  }


  
.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
  border:transparent;
  color: white;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btn { 
  margin-bottom:10px; 

}

  
