@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


.bg-zaboo-custom{
    background: linear-gradient(15deg,#e96743,#D16647 );
    opacity: 1;
}

.bg-zaboo-custom1{
    background: linear-gradient(15deg,#D16647,#e96743 );
    opacity: 1;
}




.logo{
    opacity: 1;
}

.avatar {
    background: rgba(0, 0, 0, 0.01);
    padding: 2em 0.5em;
    text-align: center;
  }

.avatar img {
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #3665C1;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

.h4{
    color: white !important;
}

.navbar{
    z-index: 1;
}
body {
    overflow-x: hidden;
    background-color: white;
 
  }




.circulo-usuario{
  background-color: transparent;
  border-color: transparent;
}


.TablaPedidosBody{
  border-collapse: collapse;
}

.TablaPedidosBody, th, td {
  border: 1px solid #b3b3b3;
  font-weight: normal;
}

/* tr:nth-child(even) {background-color: #f2f2f2;} */

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}



